<nav class="navbar navbar-expand-lg navbar-light" style="z-index: 2011"><!--fixed-top -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/virus.svg" width="20%" height="20%" class="d-inline-block align-top" alt="">
    CoronaMap
  </a>
  <div>
    <ul class="navbar-nav list-inline" >
      <li class="nav-item " >
        <a class="nav-link"[ngClass]="{active: act}" (click)="changeAct()" routerLink="/carte">Carte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[ngClass]="{active: !act}" (click)="changeAct()" routerLink="/simulation">Simulation</a>
      </li>
    </ul>
  </div>
</nav>
