<nav id="sidebar">
  <div class="sidebar-header">

    <h2>France</h2>

    <div class="container" id="buttons1">
      <button type="button" class="btn btn-outline-secondary" style="margin-right: 5%;border-radius: 50%">  <fa-icon [icon]="faPause"></fa-icon>
      </button>
      <button type="button" class="btn btn-outline-success" style="margin-right: 5%;border-radius: 50%">  <fa-icon [icon]="faPlay"></fa-icon>
      </button>
      <button type="button" class="btn btn-outline-danger" style="margin-right: 5%;border-radius: 50%">  <fa-icon [icon]="faStop"></fa-icon>
      </button>
    </div>

    <h4>Mèsures du gouvernement</h4>
    <nav  class="nav nav-pills" >
      <div class="btn-group" ngbDropdown role="group" >
        <!-- Select category -->
        <button id="btnLabel" disabled=true  type="button"   class="btn btn-outline-secondary" >Confinement : </button>
        <button id="choix" class="btn btn-outline-secondary" ngbDropdownToggle>{{selectedConfinement}}</button>
        <div id="drop" class="dropdown-menu" ngbDropdownMenu>
          <button id="confs" ngbDropdownItem *ngFor="let category of tabConfinement" (click)="onChangeCategory(category)">{{category}}</button>
        </div>
      </div>
    </nav>

    <div class="input-group mb-3" style=" margin-top: 3%" >
      <div class="input-group-text">
          <input  type="checkbox" (click)=onChangeBorder()>
          <span style=" padding: 0%">Fermeture des frontières</span>
      </div>
          <div class="input-group-text">
          <input  type="checkbox" (click)=onChangeShops()>
          <span style=" padding: 0%">Fermeture des commerces</span>
      </div>
      <div class="input-group-text">
        <input  type="checkbox" (click)=onChangeHosp()>
        <span style=" padding: 0%">Répartition des hospitalisés</span>
      </div>
    </div>


    <div class="container">
      <span>Port du masque</span>
      <div id="masque" class="btn-group btn-group" role="group" >
        <button id='0' type="button" class="btn btn-secondary" style=" box-shadow: unset; background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeMask(0)">0-30</button>
        <button id='1' type="button" class="btn btn-secondary" style=" box-shadow: unset ;background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeMask(1)">31-60</button>
        <button id='2' type="button" class="btn btn-secondary"style=" box-shadow: unset; background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeMask(2)">60+</button>
      </div>
      <h4>Population</h4>
      <span>Respect du confinement</span>
      <mat-slider
        thumbLabel
        [displayWith]="onChangeConfinement"
        step="5" tickInterval="20"
        min="0"
        max="100"></mat-slider>

  </div>





  </div>


</nav>
