<nav id="sidebar">
  <div class="sidebar-header">


    <h2>France on {{dateService.formatDateToFr(simulDate)}}</h2>

    <div class="container-sm" id="buttons1">
      <button type="button" id="pause" class="btn btn-outline-secondary setSimul" [disabled]="isPause" (click)="onPause()">  <fa-icon [icon]="faPause"></fa-icon>
      </button>
      <button type="button" id="play" class="btn btn-outline-success setSimul" [disabled]="isStart" (click)="onStart()">  <fa-icon [icon]="faPlay"></fa-icon>
      </button>
      <button type="button" id="stop" class="btn btn-outline-danger setSimul" [disabled]="isStop" (click)="onstop()">  <fa-icon [icon]="faStop"></fa-icon>
      </button>
    </div>


    <ngb-accordion id="accordion" (panelChange)="beforeChange($event)" >
      <ngb-panel id="preventchange-1" title="Mesures du gouvernement" style="padding: 0%">
        <ng-template ngbPanelHeader  >
          <div class="d-flex align-items-center justify-content-between" style="color: black">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0" style="padding: 0 " >Mesures du gouvernement</button>
            <p *ngIf="false" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
          </div>
        </ng-template>
        <ng-template ngbPanelContent >

          <div class="container-sm"  >

            <div class="container-sm">
              <span>Confinement</span>
              <div id="confinement" class="btn-group btn-group" role="group" >
                <button id='c0' type="button" class="btn btn-secondary" style=" box-shadow: unset; background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeConfinement('c'+0)">0-15</button>
                <button id='c1' type="button" class="btn btn-secondary" style=" box-shadow: unset ;background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeConfinement('c'+1)">16-29</button>
                <button id='c2' type="button" class="btn btn-secondary"style=" box-shadow: unset; background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeConfinement('c'+2)">30-49</button>
                <button id='c3' type="button" class="btn btn-secondary" style=" box-shadow: unset; background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeConfinement('c'+3)">50-69</button>
                <button id='c4' type="button" class="btn btn-secondary" style=" box-shadow: unset ;background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeConfinement('c'+4)">70+</button>
              </div>
            </div>

            <!--<nav  class="nav nav-pills"
              <div class="btn-group" ngbDropdown role="group" >

                <button id="btnLabel" disabled=true  type="button"   class="btn btn-outline-secondary" >Confinement : </button>
                <button id="choix" class="btn btn-outline-secondary" ngbDropdownToggle>{{selectedConfinement}}</button>
                <div id="drop" class="dropdown-menu" ngbDropdownMenu>
                  <button id="confs" ngbDropdownItem *ngFor="let category of tabConfinement" (click)="onChangeCategory(category)">{{category}}</button>
                </div>
              </div>
            </nav>

            !-->
            <div class="input-group mb-3"  >
              <div class="input-group-text">
                <input  type="checkbox" (click)=onChangeBorder()>
                <span style=" padding: 0%">Fermeture des frontières</span>
              </div>
              <div class="input-group-text">
                <input  type="checkbox" (click)=onChangeShops()>
                <span style=" padding: 0%">Fermeture des commerces</span>
              </div>
              <div class="input-group-text">
                <input  type="checkbox" (click)=onChangeHosp()>
                <span style=" padding: 0%">Répartition des hospitalisés</span>
              </div>
            </div>

            <div class="container-sm">
              <span>Port du masque</span>
              <div id="masque" class="btn-group btn-group" role="group" >
                <button id='m0' type="button" class="btn btn-secondary" style=" box-shadow: unset; background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeMask('m'+0)">0-15</button>
                <button id='m1' type="button" class="btn btn-secondary" style=" box-shadow: unset ;background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeMask('m'+1)">16-29</button>
                <button id='m2' type="button" class="btn btn-secondary"style=" box-shadow: unset; background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeMask('m'+2)">30-49</button>
                <button id='m3' type="button" class="btn btn-secondary" style=" box-shadow: unset; background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeMask('m'+3)">50-69</button>
                <button id='m4' type="button" class="btn btn-secondary" style=" box-shadow: unset ;background-color:#CFCDCC; padding: 0%;font-size: 85%" (click)="onChangeMask('m'+4)">70+</button>

              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="preventchange-2" title="Population">
        <ng-template ngbPanelHeader >
          <div class="d-flex align-items-center justify-content-between" >
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0" style="padding: 0">Comportements</button>
            <p *ngIf="false" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="container-sm" >
            <span>Respect du confinement</span>
            <mat-slider
              thumbLabel
              [displayWith]="onChangeRespectConfinement"
              step="5" tickInterval="20"
              min="0"
              max="100"></mat-slider>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="preventchange-3" title="Autres" style="padding: 0%">
        <ng-template ngbPanelHeader  >
          <div class="d-flex align-items-center justify-content-between" style="color: black">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0" style="padding: 0 " >Autres</button>
            <p *ngIf="false" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="container-sm" >
              <span>Ecoulement des jours</span>
              <mat-slider
                thumbLabel
                [displayWith]="onChangeEcoulement"
                step="1" tickInterval="1"
                min="1"
                max="15"></mat-slider>
            </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>





  </div>


</nav>
