<nav id="sidebar">
  <div class="sidebar-header">


    <h2>Simulation du {{dateService.formatDateToFr(simulDate)}}</h2>

    <div class="container-sm" id="buttons1">
      <button type="button" id="pause" class="btn btn-outline-secondary setSimul" [disabled]="isPause" (click)="onPause()">
        <fa-icon [icon]="faPause"></fa-icon>
      </button>
      <button type="button" id="play" class="btn btn-outline-success setSimul" [disabled]="isStart" (click)="onStart()">
        <fa-icon [icon]="faPlay"></fa-icon>
      </button>
      <button type="button" id="stop" class="btn btn-outline-danger setSimul" [disabled]="isStop" (click)="onstop()">
        <fa-icon [icon]="faStop"></fa-icon>
      </button>
    </div>

    <div *ngIf="!isStart">
      <div class="date">
        <!-- Select start Date -->
        Date de début :
        <button class="btn btn-outline-secondary" (click)="startDateCalendarVisible = !startDateCalendarVisible" type="button">
          {{dateService.formatDateToFr(startDate)}}
          <fa-icon [icon]="calendarIcon"></fa-icon>
        </button>
        <div class="input-group">
          <ngb-datepicker (select)="startDateCalendarVisible=!startDateCalendarVisible" [class.d-none]="!startDateCalendarVisible"
                          [startDate]="startDate" [(ngModel)]="startDate" (dateSelect)="onStartDateSelect($event)">
          </ngb-datepicker>
        </div>
      </div>
      <div class="date">
        Date de fin :
        <!-- Select finish Date -->
        <button class="btn btn-outline-secondary" (click)="endDateCalendarVisible = !endDateCalendarVisible" type="button">
          {{dateService.formatDateToFr(endDate)}}
          <fa-icon [icon]="calendarIcon"></fa-icon>
        </button>
        <div class="input-group">
          <ngb-datepicker (select)="endDateCalendarVisible=!endDateCalendarVisible" [class.d-none]="!endDateCalendarVisible"
                          [startDate]="endDate" [minDate]="startDate"  [(ngModel)]="endDate" >
          </ngb-datepicker>
        </div>
      </div>
    </div>

    <ngb-accordion id="accordion" [style]="{'display' : displayAccordion}">
      <ngb-panel id="preventchange-1" title="Mesures du gouvernement">
        <ng-template ngbPanelHeader  >
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
              Mesures du gouvernement
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent >

          <div class="container-sm"  >

            <div class="container-sm">
              <span>Confinement</span>
              <div id="confinement" class="btn-group btn-group" role="group" >
                <button id='c0' type="button" class="btn btn-secondary confinement" [ngClass]="{'active' : allParams.conf.c0_15}" (click)="onChangeConfinement('c0_15')">0-15</button>
                <button id='c1' type="button" class="btn btn-secondary confinement" [ngClass]="{'active' : allParams.conf.c16_19}" (click)="onChangeConfinement('c16_19')">16-29</button>
                <button id='c2' type="button" class="btn btn-secondary confinement" [ngClass]="{'active' : allParams.conf.c30_49}" (click)="onChangeConfinement('c30_49')">30-49</button>
                <button id='c3' type="button" class="btn btn-secondary confinement" [ngClass]="{'active' : allParams.conf.c50_69}" (click)="onChangeConfinement('c50_69')">50-69</button>
                <button id='c4' type="button" class="btn btn-secondary confinement" [ngClass]="{'active' : allParams.conf.c70}" (click)="onChangeConfinement('c70')">70+</button>
              </div>
            </div>

            <div class="container-sm">
              <span>Port du masque</span>
              <div id="masque" class="btn-group btn-group" role="group" >
                <button id='m0' type="button" class="btn btn-secondary mask" [ngClass]="{'active' : allParams.mask.m0_15}" (click)="onChangeMask('m0_15')">0-15</button>
                <button id='m1' type="button" class="btn btn-secondary mask" [ngClass]="{'active' : allParams.mask.m16_19}" (click)="onChangeMask('m16_19')">16-29</button>
                <button id='m2' type="button" class="btn btn-secondary mask" [ngClass]="{'active' : allParams.mask.m30_49}" (click)="onChangeMask('m30_49')">30-49</button>
                <button id='m3' type="button" class="btn btn-secondary mask" [ngClass]="{'active' : allParams.mask.m50_69}" (click)="onChangeMask('m50_69')">50-69</button>
                <button id='m4' type="button" class="btn btn-secondary mask" [ngClass]="{'active' : allParams.mask.m70}" (click)="onChangeMask('m70')">70+</button>

              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="preventchange-2" title="Population">
        <ng-template ngbPanelHeader >
          <div class="d-flex align-items-center justify-content-between" >
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Comportements</button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="container-sm" >
            <span>Respect du confinement</span>
            <mat-slider
              thumbLabel
              [displayWith]="displayPercentage"
              [(ngModel)]="allParams.respectConfinement"
              step="5" tickInterval="20"
              min="0"
              max="100"></mat-slider>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="preventchange-3" title="Autres">
        <ng-template ngbPanelHeader  >
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Ecoulement du temps de la simulation</button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="container-sm" >
              <span>Ecoulement des jours</span>
              <mat-slider
                thumbLabel
                [displayWith]="displayTime"
                [(ngModel)]="chosenInterval"
                step="1" tickInterval="1"
                min="1"
                max="15"></mat-slider>
            </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>





  </div>


</nav>
