<nav id="sidebar">
  <div class="sidebar-header">

    <h4 id="titre">{{chosenLocation}}</h4>
    <a (click)=ngOnInit() [hidden]=!showLocation>Revenir à la France</a>
    <div class="container" [hidden]=!showLocation>
      <table class="table" >
        <thead>
        <tr>
          <th scope="col">Guéris</th>
          <th scope="col">Hospitalisations</th>
          <th scope="col">Decès</th>
          <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{totGueris}}</td>
          <td>{{totHospi}}</td>
          <td>{{totDeces}}</td>
          <td>{{totCasConf}}</td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="container-sm" id="charts"></div>


  </div>

</nav>
