#sidebar {
  min-width: 400px;
  max-width: 400px;
  height:100%;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}






