#sidebar {
  min-width: 20vw;
  max-width: 20vw;
  height:100%;
  background: #7386D5;
  color: black;
  transition: all 0.3s;
  display: grid;
  font-family : Bahnschrift;

}

#sidebar .sidebar-header {
  padding: 20px;
  background: #f2f2f2ff;
}

#h4{
  color: black;
  font-size: 180%;
  text-align:center;
}

.container{
  display: block;
  margin-top: 15%;
  height:12%;
  color: whitesmoke;
}

.row{

  width:75%;
  height:100%;
  margin-left: 10%;
  margin-bottom: 8%;
  font-size: 110%;
  display: grid;
  text-align: center;
  padding-top: 5%;

}

#CasConfirmes{
  background-color: #ffd966ff;
}

#Guris{
  background-color: #6ca644ff;
}

#Hospitalisations{
  background-color: #fd9d3dff;
}

#Deces{
  background-color: #a50026ff;

}





