<nav id="sidebar">
  <div class="sidebar-header shadow-lg rounded">

    <h4 id="titre">France</h4>
    <span >{{donnees[92].nom}}</span>
    <div class="container">
      <div class="row shadow-lg rounded" id="CasConfirmes" >
         Cas confirmés
        <span id="nbCC">{{donnees[92].totalCases}}</span>
      </div>
      <div class="row shadow-lg rounded" id="Guris">
          Guéris
        <span id="nbG">{{donnees[92].recoveredCases}}</span>
      </div>
      <div class="row shadow-lg rounded" id="Hospitalisations">
        Hospitalisations
        <span id="nbH">{{donnees[92].hospitalized}}</span>
      </div>
      <div class="row shadow-lg rounded" id="Deces">
        Décès
        <span id="nbD">{{donnees[92].totalDeaths}}</span>
      </div>
      </div>
    </div>


</nav>
