#sidebar {
  min-width: 20vw;
  max-width: 20vw;
  height:100%;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #f2f2f2ff;
}

.h4{
  color: black;
}

#CasConfirmés{
  background-color: #ffd966ff;
  font-size: 80%;
  display: grid;
  text-align: center;
}


#Guéris{
  background-color: #6ca644ff;
  font-size: 80%;
  display: grid;
  text-align: center;
}

#Hospitalisations{
  background-color: #fd9d3dff;
  font-size: 80%;
  display: grid;
  text-align: center;
}

#Deces{
  background-color: #a50026ff;
  font-size: 80%;
  display: grid;
  text-align: center;
}





