<nav id="sidebar">
  <div class="sidebar-header">
    <h4>France</h4>

    <div class="container">
      <div class="row" id="CasConfirmés">
          Cas confirmés
        <span id="nbCC">+5000</span>
      </div>
      <div class="row" id="Guéris">
          Guéris
        <span id="nbCC">+5000</span>
      </div>
      <div class="row" id="Hospitalisations">
        Hospitalisations
        <span id="nbCC">+5000</span>
      </div>
      <div class="row" id="Deces">
        Décès
        <span id="nbCC">+5000</span>
      </div>
      </div>
    </div>


</nav>
