<nav id="sidebar">
  <div class="sidebar-header">

    <h4>France</h4>

    <div class="container">
      <div class="row" id="CasConfirmes" >
         Cas confirmés
        <span id="nbCC">+{{nbCC}}</span>
      </div>
      <div class="row" id="Guris">
          Guéris
        <span id="nbG">+{{nbG}}</span>
      </div>
      <div class="row" id="Hospitalisations">
        Hospitalisations
        <span id="nbH">+{{nbH}}</span>
      </div>
      <div class="row" id="Deces">
        Décès
        <span id="nbD">+{{nbD}}</span>
      </div>
      </div>
    </div>


</nav>
