.carte {
  width: 80%;
  align: center;
  margin: 5vh auto;
}

.carte.extand {
  width: 58%;
}

.map-zone {
  width: 50vw;
  height: 88vh;
  margin: 0 auto;
  background-color: rgb(238,234,222);
}

.map-zone.extand {
  width: 79vw;
}

