.carte {
  width: 70%;
  align: center;
  margin: 5vh auto;
}

.map-zone {
  width: 50vw;
  height: 85vh;
  margin: 0 auto;
  background-color: rgb(238,234,222);
}

footer {
  text-align: center;
  font-size: 12px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

