.carte {
  width: 60%;
  align: center;
  margin: 0 auto;
}

.map-zone {
  width: 60vw;
  height: 85vh;
  margin: 5px 10px 10px 10px;
  background-color: rgb(238,234,222);
}

g:hover path {
  fill: #86cce0;
}
g path:hover {
  fill: #86eee0;
}

footer {
  text-align: center;
  font-size: 12px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


